<style>
    @import url(https://fonts.googleapis.com/css?family=Vidaloka|Oswald:400,300);
    @import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap);
    @import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
    @import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap);


.box {
    font-family: 'Nanum Myeongjo', serif;
}




</style>



<div class = 'box'>
    <h3>멋쟁이 사자에서 지현이가 만듬!</h3>>
</div>  


<a href="{% url 'home' %}"> BACK TO HOME</a>