<style>
    @import url(https://fonts.googleapis.com/css?family=Vidaloka|Oswald:400,300);
    @import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap);
    @import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
    @import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap);
    .container {
        height: 100%;
        width: 100%;
        background: grey;
        overflow: hidden;
        
    }
    .text1 {
        text-align: center;
        border: 3px double black;
        font-family: 'Gugi', cursive;

    }
    .again {
        text-align: center;
    }
    .wrap {
        border: double black 3px;
        height: 70%;
        padding-top: 8%
    }
    .text2 {
        text-align: center;
        margin-bottom: 60px;
        font-family: 'Nanum Myeongjo', serif;
        
    }
    .text3 {
        text-align: center;
        font-family: 'Nanum Myeongjo', serif;
    }
</style>





<div class="container">
    <div class="text1">
        <h1>당신이 입력한 텍스트는 {{total}}단어로 구성되어 있습니다.</h1>
    </div>
    <br>
    <div class="again">
        <a href="{% url 'home' %}">다시하기</a>
    </div>
    <br>
    <div class="wrap">
        <div class="text2">
            <h1>입력한 텍스트</h1>
            {{alltext}}
        </div>

        <div class="text3">
            <h1>단어 카운트</h1>
            {% for word, frequency in dictionary %}
            {{word}}: {{frequency}}
            <br>
            {% endfor %}
        </div>
    </div>
</div>
